@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, label {
  font-family: 'Roboto', sans-serif;
}
html, body, label {
  font-family: "Inter", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-w-4::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-w-6::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-w-8::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-w-10::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-h-4::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-h-6::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-h-8::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-h-8::-webkit-scrollbar {
  height: 10px;
}

.track-dark::-webkit-scrollbar-track {
  background: rgb(15, 15, 15);
}
.track-light::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 10px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}