@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, label {
  font-family: 'Roboto', sans-serif;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.marquee {
    display: inline-block;
    animation: 3s scroll infinite linear;
}
  

.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 12px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    border: 10px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}